<VirtualHost *:443>
    ServerAdmin webmaster@lappsgrid.org

    DocumentRoot /var/www/{{ domain }}

    # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
    # error, crit, alert, emerg.
    # It is also possible to configure the loglevel for particular
    # modules, e.g.
    #LogLevel info ssl:warn

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    AllowEncodedSlashes NoDecode
    ProxyPass / http://127.0.0.1:8080/
    
    RewriteEngine on
    RewriteRule ^/static/style/(.*) /home/galaxy/galaxy/static/june_2007_style/blue/$1 [L]
    RewriteRule ^/static/scripts/(.*) /home/galaxy/galaxy/static/scripts/packed/$1 [L]
    RewriteRule ^/static/(.*) /home/galaxy/galaxy/static/$1 [L]
    RewriteRule ^/favicon.ico /home/galaxy/galaxy/static/favicon.ico [L]
    RewriteRule ^/robots.txt /home/galaxy/galaxy/static/robots.txt [L]
        
    SSLEngine on
    SSLCertificateFile	{{ certificate }}
    SSLCertificateKeyFile {{ key }}
    SSLCertificateChainFile {{ root_certificate }}
    <FilesMatch "\.(cgi|shtml|phtml|php)$">
            SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
            SSLOptions +StdEnvVars
    </Directory>

    <Location "/">
        RequestHeader set X-URL-SCHEME https
        XSendFile on
        XSendFilePath /
    </Location>
</VirtualHost>
