tickTime=2000
dataDir={{ dataDir }}
clientPort=2181
initLimit=5
syncLimit=2
4lw.commands.whitelist=*
{% for item in play_hosts %}
server.{{ loop.index }}={{ item }}:2888:3888
{% endfor %}

autopurge.snapRetainCount=6
autopurge.purgeInterval=12
